twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
        profile_pic_path: "UserProfile/"
        post_images_path: "UserPosts/"
